<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hudson.customview">

    <application
        android:name=".CustomViewApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".diagramview.percentview.sample.PercentActivity"></activity>
        <activity android:name=".diagramview.table.TableDiagramActivity" />
        <activity android:name=".wraplayout.WrapActivity" />
        <activity android:name=".valueselector.ValueSelectActivity" />
        <activity android:name=".stepprogressbar.StepActivity" />
        <activity android:name=".circleseekbar.CircleSeekBarActivity" />
        <activity android:name=".gesturelock.GestureLockActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>